body{
    background: #F4F4F4;
}
div.information{
    height: 70%;
    width: 50%;
    background: white;
    position: absolute;
    left: 45%;
}

input.information{
    background: white;
    border-style: none;
}
input.information-enabled{
    background: white;
    border-color: white;
    border-bottom: 2px solid #42edf8;
}
.code_trace{
    position: absolute;
    top: 20%;
    opacity: 0;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
}
.rec{
    border-radius: 5px;
    width: 40px;
    background: royalblue;
    text-align: center;
    position: relative;
}
.rec_cmp{
    border-radius: 5px;
    width: 40px;
    background: orange;
    text-align: center;
    position: relative;
}
.rec_finish{
    border-radius: 5px;
    width: 40px;
    background: #919191;
    text-align: center;
    position: relative;
}
.rec_min{
    border-radius: 5px;
    width: 40px;
    background: #7fd925;
    text-align: center;
    position: relative;
}
#graph{
    background: white;
    position: absolute;
    left: 20%;
    margin-left: -175px;
    height:200px;
    width: 350px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 18px;
    color: white;
}
#code{
    width: 300px;
    position: relative;
    right:100px;
    font-size: 18px;
}
#var{
    position: relative;
    font-size: 18px;
}

