body{
    background: #393e46;
}
.rec{
    border-radius: 5px;
    width: 40px;
    background: #4169e1;
    text-align: center;
    position: relative;
}
.dashboard_anime{
    border: solid;
    border-width: 4px;
    border-color: #eeeeee;
    border-radius: 10px 10px 0px 0px;
    background-color: #eeeeee;
    height: 450px;
}
.dashboard_name{
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    height: 50px;
    border: solid;
    border-width: 4px;
    border-color: #eeeeee;
    background-color: #eeeeee;
    color: #222831;
}
.dashboard_info{
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: 10px;
    border: solid;
    border-color: #eeeeee;
    border-width: 4px;
    background-color: #eeeeee;
    height: 390px;
}
.anime_btn{
    display: flex;
    position: relative;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color: #0092ca;
    background-color: #0092ca;
    bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}
#progress_bar{
    width: 55%;
    margin-left: 7px;
}
.trace{
    display: none;
    justify-content: flex-start;
}
.info_btn{
    display: flex;
    position: relative;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color: #0092ca;
    background-color: #0092ca;
    align-items: center;
    justify-content: flex-start;
}
.content{
    height: 392px;
}
.info{
    margin-top: 10px;
    margin-left: 20px;
    height: 392px;
    display: none;
    font-size: 22px;
    font-weight: bold;
    color: #222831;
}
.info span{
    color: #0092ca;
}
#code, #var{
    margin-top: 10px;
    font-size: 18px;
    color: #222831;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


#var{
    font-size: 18px;
}
.var{
    background-color: #eeeeee;
    color: #0092ca;
    border-style: none;
}
.code_running{
    background: yellow;
    border-radius: 10px;
}
.btn{
    font-weight: bold;
    color: #0092ca;
    margin-left: 7px;
    background: #eeeeee;
}

.hljs{
    margin-top: -10px;
}


div.information{
    height: 70%;
    width: 50%;
    background: #eeeeee;
    position: absolute;
    left: 45%;
}

input.information{
    background: #eeeeee;
    border-style: none;
}
input.information-enabled{
    background: #eeeeee;
    border-color: #eeeeee;
    border-bottom: 2px solid #42edf8;
}




.graph{
    position: relative;
    left: 50%;
    margin-left: -175px;
    height:200px;
    width: 350px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
    color: #eeeeee;
}




span.name{
    position: relative;
    left: 20px;
}
.cur_name{
    color: #0092ca;
}

#var_i, #var_j, #var_current, #var_min {
    width: 50%;
    display: inline;
}

.line{
    height: 8%;
    width: 100%;
}
.layer{
    height: 19%;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
table, th, td{
    border: none;
    height: 100%;
}
table{
    opacity: 0;
}
.data_input{
    height: 50%;
    border-style: none;
    background-color: #4169e1;
    text-align: center;
    color: white;
    border-radius: 5px;
}