body{
    background: #393e46;
}
.bound_stack{
    border-radius: 5px;
    background: #3D424E;
    width: 7px;
    height: 350px;
    position: relative;
}
.bound_queue{
    border-radius: 5px;
    background: #3D424E;
    width: 7px;
    height: 300px;
    position: relative;
    margin-bottom: 50px;
}
.data{
    width: 100px;
    height: 350px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.graph{
    position: relative;
    height: 350px;
    margin-top: 10%;
    margin-left: 35%;
    width: 150px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
    color: #eeeeee;
}
.rec{
    border-radius: 5px;
    width: 70px;
    height: 27px;
    background: #4169e1;
    text-align: center;
    position: relative; 
    margin-bottom: 5px;
}
.anime_rec{
    border-radius: 5px;
    width: 70px;
    height: 27px;
    background: #7fd925;
    text-align: center;
    position: absolute;
    left: 1800px;
    top: 130px;
    z-index: 5;
}
.anime_rec_pop{
    border-radius: 5px;
    width: 70px;
    height: 27px;
    background: #7fd925;
    text-align: center;
    position: absolute;
    z-index: 6;
}
#pic{
    width: 150px;
    position: absolute;
    left: 1700px;
    top: 20px;
}
#pic_mouse{
    width: 150px;
    position: absolute;
    left: 1700px;
    top: 20px;
    z-index: 5;
}
#pic_corn{
    width: 150px;
    position: absolute;
    left: 1700px;
    top: 87px;
    z-index: 5;
}
.heli{
    margin-left: 10px;
    -webkit-transform: rotateY(180deg);
}
.rope{
    position: absolute;
    opacity: 0;
    width: 10px;
    height: 1px;
    background-color: #ffa600;
    z-index: 10;
}
.mouse{
    height: 40px; 
}
.corn{
    margin-left: 105px;
    width: 60px;
}
.dashboard_anime{
    border: solid;
    border-width: 4px;
    border-color: #eeeeee;
    border-radius: 10px 10px 0px 0px;
    background-color: #eeeeee;
    height: 450px;
}
.dashboard_name{
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    height: 50px;
    border: solid;
    border-width: 4px;
    border-color: #eeeeee;
    background-color: #eeeeee;
    color: #222831;
}
.dashboard_info{
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: 10px;
    border: solid;
    border-color: #eeeeee;
    border-width: 4px;
    background-color: #eeeeee;
    height: 390px;
}
.anime_btn{
    display: flex;
    position: relative;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color: #0092ca;
    background-color: #0092ca;
    bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}
.btn{
    color: #0092ca;
    background-color: #eeeeee;
    font-weight: bold;
    margin-left: 7px;
}
.btn_special{
    color: red;
    background-color: #eeeeee;
    font-weight: bold;
    margin-left: 7px;
}
.cmd_another{
    margin-left: 7px;
    font-weight: bold;
    color: #eeeeee;
    font-size: 20px;
}
#num{
    background-color: rgba(0, 0, 0, 0.45);
    border-style: none;
    color: #eeeeee;
}
#progress_bar{
    width: 55%;
}

.trace{
    display: none;
    justify-content: flex-start;
}
.info_btn{
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-color: #0092ca;
    background-color: #0092ca;
    position: relative;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
}
.content{
    height: 392px;
}
.info{
    margin-top: 10px;
    margin-left: 20px;
    height: 392px;
    display: none;
    font-size: 22px;
    font-weight: bold;
    color: #222831;
}
.info span{
    color: #0092ca;
}
#code, #var{
    margin-top: 10px;
    font-size: 18px;
    color: #222831;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
#var{
    font-size: 18px;
}
.var{
    background-color: #eeeeee;
    color: #0092ca;
    border-style: none;
    width: 20px;
}
.code_running{
    background: yellow;
    border-radius: 10px;
}
.hljs{
    margin-top: -28px;
}

div.information{
    height: 70%;
    width: 50%;
    background: #eeeeee;
    position: absolute;
    left: 45%;
}

input.information{
    background: #eeeeee;
    border-style: none;
}
input.information-enabled{
    background: #eeeeee;
    border-color: #eeeeee;
    border-bottom: 2px solid #42edf8;
}



.cur_name{
    color: #0092ca;
}
span.name{
    position: relative;
    left: 20px;
}
#boom, #cloud{
    opacity: 0;
}
.bomb{
    position: absolute;
    z-index: 0;
}
.popcorn{
    width: 70px;
    height: 70px;
}
