
.rec{
    border-radius: 5px;
    width: 45px;
    background: #00d8ff;
    text-align: center;
    position: relative;
}
.rec_cmp{
  border-radius: 5px;
  width: 45px;
  background: orange;
  text-align: center;
  position: relative;
}
.rec_finish{
  border-radius: 5px;
  width: 45px;
  background: #919191;
  text-align: center;
  position: relative;
}
#graph{
    position: absolute;
    height:200px;
    width: 300px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}
